.spotlight {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    background: 
        radial-gradient(
            500px circle at var(--mouse-x) var(--mouse-y),
            hsla(216, 100%, 85%, 0.4),
            transparent 80%
        );

    mix-blend-mode: overlay;
    transition: background 0.1s ease;
}
