body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: hsl(216, 65%, 11%);
    color: hsl(226, 70%, 88%);
}

.layout {
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    gap: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    /* border: 2px solid hsl(226, 70%, 88%); */
}

@media (max-width: 768px) {
  .layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 100px; */
  }
}
